{% extends 'layout.html' %} 
{% block body%}
<h1>Articles</h1>

{% if articles %}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th class="text-end">Action</th>
    </tr>
  </thead>
  {% for article in articles %}
  <tr>
    <td>{{article.id}}</td>
    <td>{{article.title}}</td>
    <td class="text-end">
      <a href="/article/{{article.id}}" class="btn btn-sm btn-dark">View</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No articles!</p>
{% endif %} 
{%endblock %}
