{% extends 'layout.html' %} {% block body %}
<div class="card p-5 m-5">
    <div class="car-header">
        <h1 class="card-title">Welcome to POST LAB</h1>
    </div>
    <div class="card-body">
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
            neque.
        </p>
        <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam,
            dicta possimus. Inventore laudantium nihil enim molestiae beatae
            similique ab libero! Commodi suscipit facere laudantium fugit
            laborum libero. Reprehenderit, repudiandae corrupti!
        </p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-outline-primary">Register</a>
    </div>
</div>
{% endblock %}
