{% extends 'layout.html' %} {% block body%}
<h1>Posts</h1>

{% if posts %}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th class="text-end">Action</th>
    </tr>
  </thead>
  {% for post in posts %}
  <tr>
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.content[:100]+"..."}}</td>
    <td class="text-end">
      <a href="/post/{{post.id}}" class="btn btn-sm btn-dark">View</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No Posts!</p>
{% endif %} {%endblock %}
